1.21.1/**
crash-reports/**
datapacks/**
defaultconfigs/**
downloads/**
local/**
logs/**
mods/**
resourcepacks/**
saves/**
schematics/**
server-resource-packs/**
shaderpacks/**
.vscode/**
/.curseclient
/command_history.txt
/minecraftinstance.json
/usercache.json
/usernamecache.json
/kubejs/README.txt
/kubejs/client_scripts/jsconfig.json
/kubejs/server_scripts/jsconfig.json
/kubejs/startup_scripts/jsconfig.json
/kubejs/config/**
debug/**
fancymenu_data/**
.cache/**
cache/**
.mixin.out/**
backups/**
/user-prefs.json
xaero/**
dynamic-resource-pack-cache/**
dynamic-data-pack-cache/**
.probe/**

.probe
servers.dat
servers.dat_old
.nl_password